* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f2f2f2;
}

body::-webkit-scrollbar { width: 0; }

.menu {
    width: 345px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.menu__logo__container {
    width: 100%;
    height: 150px;
    padding: 50px;
    display: flex;
}

.logo__container__photo {
    width: 40px; 
    height: 42px;
    background-size: cover;
    background-image: url(images/logo.png);
}

.logo__container__text{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #0E6EFF;
    margin-left: 15px;
}

.menu__buttons {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav__button {
    width: 285px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 5px;
    transition: .3s;
    color: #72757A;
}

.nav__button:hover {
    background-color: #f5f5f5;
    color: #72757A;
}

.nav__button__active:hover {
    background-color: #0E6EFF;
    color: #fff;
    font-size: 20px;
}

.nav__button__active {
    background-color: #0E6EFF;
    color: #fff;
    font-size: 20px;
}

.nav__button p {
    margin-left: 20px;
    font-size: 18px;
}

.button__icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    
}

.home__icon {
    background-image: url(images/homeIco__white.png);
}

.wallet__icon {
    background-image: url(images/walletIco.png);
}

.payment__icon {
    background-image: url(images/cardIco.png);
    width: 30px;
    height: 22px;
}

.invoice__icon {
    background-image: url(images/invoiceIco.png);
}

.setting__icon {
    background-image: url(images/settingIco.png);
}

.transactions__icon {
    background-image: url(images/transIco.png);
}

.menu__footText {
    margin-top: 100px;
    width: 285px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.gr {
    color: #72757A;
    font-weight: 300;
    margin-top: 5px;
}

.mainContainer {
    width: 1200px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainContainer__header {
    width: 1200px;
    height: 150px;
    display: flex;
    align-items: center;
}

.header__dashBoard__log {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.dashBoard__log__photo {
    width: 20px;
    height: 21px;
    background-size: cover;
    background-image: url(images/fourSqr.png);
}

.header__dashBoard__log p {
    margin-left: 25px;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.header__search {
    width: 380px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: 'DM Sans', sans-serif;
    padding: 20px 30px;
    margin-left: 50px;
    font-size: 16px;
}

.searchIco {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/search.png);
    position: relative;
    right: 50px;
}

.header__notifications {
    width: 100px;
    height: 100%;
    display: flex;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
}

.notifications__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.bell__icon {
    background-image: url(images/bell.png);
    cursor: pointer;
}

.mail__icon {
    background-image: url(images/email.png);
    cursor: pointer;
}

.bell__counter {
    background-color: #FF684D;
    border-radius: 50%;
    position: relative;
    left: 7px;
    top: -7px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.mail__counter {
    background-color: #FFBF26;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: -7px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.account__info {
    width: 325px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.account__avatar {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-size: cover;
    background-image: url(images/defAvatar.png);
}

.account__username {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    margin-left: 20px;
}

.userLastName, .userName {
    font-weight: 700;
    font-size: 20px;
} 

.name__sur {
    display: flex;
}

.userLastName {
    margin-left: 5px;
}

.userEmail {
    color: #72757A;
    font-size: 14px;
    cursor: pointer;
}

.account__triangle {
    width: 14px;
    height: 7px;
    background-size: cover;
    margin-left: 20px;
    background-image: url(images/triangle.png);
    cursor: pointer;
}

.mainContainer__reports {
    width: 1135px;
    height: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.report__item {
    width: 260px;
    height: 120px;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.green__report {
    background-color: #03B664;
}

.blue__report {
    background-color: #01BEFF;
}

.yellow__report {
    background-color: #FFBF26;
}

.red__report {
    background-color: #FF684D;
}

.report__icon__container {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.green__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/receipt.png);
}

.blue__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/tick.png);
}

.yellow__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/cross.png);
}

.red__icon {
    width: 20px;
    height: 22px;
    background-size: cover;
    background-image: url(images/total.png);
}

.report__number {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.report__info {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.report__text__container {
    margin-left: 20px;
}

  /* .bubble1{
    position: relative;
    left: 70px;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise1 10s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble2{
    position: relative;
    left: -50px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise2 8s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble3{
    position: relative;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise3 9s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble4{
    position: relative;
    left: 100px;
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise4 7s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }


  @keyframes rise1{
  0%{
    bottom: -50px;
    left: 90px;
    transform:translateX(110px);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:180px;
    transform:translateX(-250px);
  }
}

@keyframes rise2{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:180px;
      transform:translateX(-250px);
    }
  }

  @keyframes rise3{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(-100px);
    }
    100%{
      bottom:180px;
      transform:translateY(-250px);
    }
  }

  @keyframes rise4{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(-100px);
    }
    100%{
      bottom:180px;
      transform:translateY(-200px);
    }
  } */




/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'DM Sans', sans-serif; */