* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.screen__regAuth {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'DM Sans', sans-serif;
}

.form__container {
    width: 450px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 10px #999;
    background-color: #fff;
    
}

.auth__container {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth__head {
    font-weight: 700;
    font-size: 36px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.auth__form input {
    width: 350px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #888;
    font-size: 18px;
    padding: 5px 20px;
    background-color: transparent;
    z-index: 10;
}

.auth__form p {
    font-size: 18px;
    color: #999;

}

.auth__login__placeholder {
    position: relative;
    bottom: 122px;
    left: 20px;
    z-index: 1;
}

.auth__password__placeholder {
    position: relative;
    bottom: 65px;
    left: 20px;
    z-index: 1;
}   


.screen__dashboard {
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.menu {
    width: 345px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: fixed;
}

.menu__logo__container {
    width: 100%;
    height: 150px;
    padding: 50px;
    display: flex;
}

.logo__container__photo {
    width: 40px; 
    height: 42px;
    background-size: cover;
    background-image: url(images/logo.png);
}

.logo__container__text{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #0E6EFF;
    margin-left: 15px;
}

.menu__buttons {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav__button {
    width: 285px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 5px;
    transition: .3s;
    color: #72757A;
}

.nav__button:hover {
    background-color: #f5f5f5;
    color: #72757A;
}

.nav__button__active:hover {
    background-color: #0E6EFF;
    color: #fff;
    font-size: 20px;
}

.nav__button__active {
    background-color: #0E6EFF;
    color: #fff;
    font-size: 20px;
}

.nav__button p {
    margin-left: 20px;
    font-size: 18px;
}

.button__icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    
}

.home__icon {
    background-image: url(images/homeIco__white.png);
}

.wallet__icon {
    background-image: url(images/wallIco.png);
}

.payment__icon {
    background-image: url(images/cardIco.png);
    width: 30px;
    height: 22px;
}

.invoice__icon {
    background-image: url(images/invoiceIco.png);
}

.setting__icon {
    background-image: url(images/settingIco.png);
}

.transactions__icon {
    background-image: url(images/transIco.png);
}

.menu__footText {
    margin-top: 100px;
    width: 285px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.gr {
    color: #72757A;
    font-weight: 300;
    margin-top: 5px;
}

.mainContainer {
    width: 1200px;
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 345px;
    background-color: #f2f2f2;
}

.mainContainer__header {
    width: 1200px;
    height: 150px;
    display: flex;
    align-items: center;
}

.header__dashBoard__log {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.dashBoard__log__photo {
    width: 20px;
    height: 21px;
    background-size: cover;
    background-image: url(images/fourSqr.png);
}

.header__dashBoard__log p {
    margin-left: 25px;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.header__search {
    width: 380px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: 'DM Sans', sans-serif;
    padding: 20px 30px;
    margin-left: 50px;
    font-size: 16px;
}

.searchIco {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/search.png);
    position: relative;
    right: 50px;
}

.header__notifications {
    width: 100px;
    height: 100%;
    display: flex;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
}

.notifications__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.bell__icon {
    background-image: url(images/bell.png);
    cursor: pointer;
}

.mail__icon {
    background-image: url(images/email.png);
    cursor: pointer;
}

.bell__counter {
    background-color: #FF684D;
    border-radius: 50%;
    position: relative;
    left: 7px;
    top: -7px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.mail__counter {
    background-color: #FFBF26;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: -7px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.account__info {
    width: 325px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.account__avatar {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-size: cover;
    background-image: url(images/defAvatar.png);
}

.account__username {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    margin-left: 20px;
}

.userLastName, .userName {
    font-weight: 700;
    font-size: 20px;
} 

.name__sur {
    display: flex;
}

.userLastName {
    margin-left: 5px;
}

.userEmail {
    color: #72757A;
    font-size: 14px;
    cursor: pointer;
}

.account__triangle {
    width: 14px;
    height: 7px;
    background-size: cover;
    margin-left: 20px;
    background-image: url(images/triangle.png);
    cursor: pointer;
}

.mainContainer__reports {
    width: 1135px;
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.report__item {
    width: 260px;
    height: 120px;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.report__content {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
}

.green__report {
    background-color: #03B664;
}

.green__report:hover{
    background-color: #02a65b;
}

.blue__report {
    background-color: #01BEFF;
}

.blue__report:hover {
    background-color: #00b2f0;
}

.yellow__report {
    background-color: #FFBF26;
}

.yellow__report:hover {
    background-color: #f2b522;
}

.red__report {
    background-color: #FF684D;
}

.red__report:hover {
    background-color: #f26249;
}

.report__icon__container {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.green__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/receipt.png);
}

.blue__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/tick.png);
}

.yellow__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(images/cross.png);
}

.red__icon {
    width: 20px;
    height: 22px;
    background-size: cover;
    background-image: url(images/total.png);
}

.report__number {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.report__info {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.report__text__container {
    margin-left: 20px;
}



  .bubble1{
    position: relative;
    left: 70px;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise1 10s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble2{
    position: relative;
    left: -50px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise2 8s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble3{
    position: relative;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise3 9s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }

  .bubble4{
    position: relative;
    left: 100px;
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rise4 7s infinite ease-in;
    background-color: rgba(255,255,255, 0.2);
  }


  @keyframes rise1{
  0%{
    bottom: -50px;
    left: 90px;
    transform:translateX(110px);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:180px;
    transform:translateX(-250px);
  }
}

@keyframes rise2{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:180px;
      transform:translateX(-250px);
    }
  }

  @keyframes rise3{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(-100px);
    }
    100%{
      bottom:180px;
      transform:translateY(-250px);
    }
  }

  @keyframes rise4{
    0%{
      bottom: 0px;
      left: 70px;
      transform:translateX(110px);
    }
    50%{
      transform:translate(-100px);
    }
    100%{
      bottom:180px;
      transform:translateY(-200px);
    }
  }

  .mainContainer__transactions__container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 40px;

  }

  .mainContainer__transactions__content {
    width: 845px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
  }

  .mainContainer__statistics {
    width: 260px;
    height: 600px;
    background-color: #fff;
    margin-left: 32px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

 .statistics__text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
 }

 .barChart__container {
     width: 100%;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 60px;
 }

 .legend__container {
     width: 100%;
     height: 20px;
     margin-top: 5px;
     display: flex;
     align-items: center;
 }

 .fl {
     margin-top: 20px;
 }

 .legend__color {
     width: 50px;
     height: 100%;
 }

 .legend__text {
     font-size: 14px;
     font-family: 'DM Sans', sans-serif;
     color: #72757A;
     margin-left: 10px;
 }

  .transactions__header {
      width: 100%;
      height: 70px;
      font-family: 'DM Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
  }

  .transactions__history {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }

  .history__item {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .history__item__info {
      width: 230px;
      height: 40px;
      display: flex;
      align-items: center;
  }

  .histoty__info__ava {
      width: 40px;
      height: 40px;
      border-radius: 5px;
  }

  .history__ava__blue {
      background-color: #0E6EFF;
  }

  .history__ava__yellow {
      background-color: #FFBF26;
  }

  .history__ava__green {
      background-color: #00D171;
  }

  .history__ava__red {
      background-color: #FF684D;
  }

  .histoty__info__text {
      margin-left: 15px;
      font-family: 'DM Sans', sans-serif;
  }

  .trans__code {
      font-size: 14px;
      color: #0E6EFF;
      cursor: pointer;
  }

  .trans__code:hover {
      text-decoration: underline;
  }

  .trans__site {
      font-weight: 700;
      font-size: 16px;
  }

  .history__amount__info {
      width: 170px;
      height: 40px;
      display: flex;
  }

  .history__amount__info__ava {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .history__amount__info__ava__blue {
      background-color: rgba(1, 190, 255, 0.2);
  }

  .history__amount__info__ava__yellow {
      background-color: rgba(255, 191, 38, 0.2);
  }

  .history__amount__info__ava__green {
      background-color: rgba(0, 209, 113, 0.2);
  }

  .history__amount__info__ava__red {
      background-color: rgba(255, 104, 77, 0.2);
  }

  .history__amount__info__ava__icon {
      width: 18px;
      height: 18px;
      background-size: cover;
  }

  .history__amount__info__ava__icon__blue {
      background-image: url(images/invoiceBlue.png);
  }

  .history__amount__info__ava__icon__yellow {
      background-image: url(images/invoiceYellow.png);
  }

  .history__amount__info__ava__icon__green {
      background-image: url(images/invoiceGreen.png);
  }

  .history__amount__info__ava__icon__red {
      background-image: url(images/invoiceRed.png);
  }

  .histoty__amount__info__text {
      margin-left: 15px;
      font-family: 'DM Sans', sans-serif
  }

  .amount__text {
      color: #72757A;
      font-size: 14px;
  }

  .fact__amount {
      font-weight: 700;
      font-size: 18px;
  }

  .history__time__info {
      color: #72757A;
      font-size: 14px;
      font-family: 'DM Sans', sans-serif;
  }

  .history__printer__icon {
      width: 25px;
      height: 25px;
      background-size: cover;
      background-image: url(images/printer.png);
      cursor: pointer;
  }

  .history__dots__icon {
      width: 28px;
      height: 6px;
      background-size: cover;
      background-image: url(images/Dots.png);
      cursor: pointer;
  }

  .transactions__history__nav__container {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 16px;
      color: #72757A;
      font-family: 'DM Sans', sans-serif;
  }

  .transactions__history__nav__container span {
      font-weight: 700;
      color: #000;
  }

  .history__nav__buttons {
      width: 300px;
      height: 45px;
      display: flex;
      justify-content: space-between;
  }
  
  .history__nav__button {
    width: 45px;
    height: 45px;
    border: 1px solid #A2A2A2;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .history__nav__button:hover {
    background-color: #f5f5f5;
    color: #72757A;
}

.history__nav__button__active:hover {
    background-color: #0E6EFF;
    color: #fff;
}

  .history__nav__button__active {
      background-color: #0E6EFF;
      color: #fff;
      border: none;
      box-shadow: 0px 7px 15px rgba(14, 110, 255, 0.3);
  }

  .arrowLeft__icon {
      width: 7px;
      height: 12px;
      background-size: cover;
      background-image: url(images/arrowLeft.png);
  }

  .arrowRight__icon {
    width: 7px;
    height: 12px;
    background-size: cover;
    background-image: url(images/arrowRight.png);
}

.balance__container {
    width: 100%;
    height: 385px;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 30px;
}

.balance__container__card {
    width: 365px;
    height: 385px;
    background-color: #fff;
    border-radius: 20px;
}

.main__bankCard__container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scene {
    width: 100%;
    height: 250px;
    cursor: pointer;
    perspective: 600px;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    border-radius: 20px;
    transform-style: preserve-3d;
  }

  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888;
    transition: 0.2s;
  }

  .card__face__front {
    background: linear-gradient(247.35deg, #936DFF 0%, #3ED1FF 100%);
  }

  .card__face__cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

  .card__balance__text {
      font-size: 20px;
  }

  .card__balance__amount__number__container{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .card__balance__amount {
    font-weight: 700;
    font-size: 28px;
  }

  .card__number {
    font-weight: 700;
    font-size: 14px;
  }

  .card__face__front__bottom {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
  }

  .card__validThru__container, .card__ownerName__container  {
      width: 75px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 14px;
  }

  .mastercard__logo__container {
      width: 80px;
      height: 55px;
      /* display: flex; */
  }

  .mastercard__logo__item {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: rgba(255,255,255, 0.2);
      position: relative;
  }

  .bt {
      bottom: 55px;
      left: 35px;
  }

  .card__face__back {
    background: linear-gradient(-247.35deg, #936DFF 0%, #3ED1FF 100%);
    transform: rotateY( 180deg );
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .reader__stripe {
      width: 100%;
      height: 70px;
      background-color: #A1A1A1;
  }

  .cvvCode__global__container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cvvCode__container {
      width: 70px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      margin-right: 20px;
      border-radius: 5px;
      background-color: rgba(161, 161, 161, 0.5);
      font-family: 'DM Sans', sans-serif;
      font-size: 20px;
      color: #fff;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
.transactions__graph {
    width: 100%;
    height: 30%;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 30px;
    display: flex;
}

.transactions__graph__text__container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.transactions__graph__header {
    font-family: 'DM Sans', sans-serif;
    color: #72757A;
    font-size: 14px;
}

.transactions__graph__amount {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

.transactions__graph__dataset {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.balance__details__container {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    padding: 40px;
}

.balance__details__text {
    font-weight: 700;
    font-size: 24px;
}

.total__balance__container {
    width: 135px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.total__balance__text {
    color: #72757A;
    font-size: 14px;
}

.total__balance__amount {
    font-weight: 700;
    font-size: 28px;
}

.balance__info__container {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.balance__info__container__top, .balance__info__container__bottom {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.balance__info__item {
    width: 135px;
    height: 80px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.info__item__descr {
    font-size: 12px;
    color: #72757A;
}

.info__item__amount {
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.balance__info__item__active {
    background-color: #0E6EFF;
}

.balance__info__item__active p {
    color: #fff;
}

.dataset__container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.dataset__text__container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'DM Sans', sans-serif;
}

.dataset__text__header {
    font-size: 14px;
    color: #72757A;
}

.dataset__text__amount {
    font-size: 24px;
    font-weight: 700;
}

.graph__container {
    width: 280px;
    /* height: 150px; */
}






/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'DM Sans', sans-serif; */